@tailwind components;
@tailwind utilities;

a {
    color: #ffffffbd;
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
    font-style: normal;
    line-height: normal; 
    
}

body {
    background-color: black;
    margin: 0;
}

