@tailwind components;
@tailwind utilities;

a {
    color: #ffffffbd;
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
    font-style: normal;
    line-height: normal; 
    
}

body {
    background-color: black;
    margin: 0;
}

 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    body {
       /* background-color: red;*/
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 640px) {
    body {
        /*background-color: yellow;*/
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 641px) and (max-width: 803px){
    body {
       /* background-color: blue;*/
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 804px) and (max-width: 1280px){
    body {
       /* background-color: green;*/
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
       /* background-color: rgb(255, 255, 255);*/
    }
}
