.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    top: 0px;
    background-color: #090909;
    width: 100vw;
    height: 10vh;
    position: fixed;
}

.logo{
    height: 25px;
}

.lupa{
    height: 21px;
    padding: 5px;
    padding-right: 30px;
    padding-left: 0.1px;
    
}

.log{
    border: 2px solid rgb(53, 204, 141);
    border-radius: 50px;
    padding: 4px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    top: -7px;
    font-size: 15px;
    font-weight: 500;
}

.log:hover{
    color: rgb(53, 204, 141);
   /* background-color: rgb(53, 204, 141);
    color: white;
    transition: all 0.2s;*/
}


